// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.answer-form-in-show {
  margin-top: 20px;
  margin-bottom: 20px;
}

.answer {
  margin-top: 20px;
  font-size: 15px;
  border-bottom: 1px solid;
  border-bottom-color: #CFCFCF;
  padding-bottom: 20px;
}

